body {
  font-size: 1em;
  line-height: 1.618;
  max-width: 38em;
  margin: auto;
  color: #ccc;
  background-color: #323639;
  padding: 13px;
  font-family: Consolas, serif;
  word-break: break-word;
}

p {
  margin: 10px 0;
}

p:nth-child(4) {
  margin: 0;
}

#filter, #clear, #getAll {
  right: 0;
  padding: 0.7em 0;
  color: #ccc;
  background-color: unset;
  border: unset;
  margin: 0;
  text-decoration: underline;
  width: 12.1em;
  font-size: 1em;
  font-family: Consolas, serif;
  font-weight: bold;
  transition: color .2s;
}

#filter {
  animation: ease-in colors 1s alternate-reverse infinite;
}

@keyframes colors {
  from {color: #93cdab;} to {color: #F7F4ED;}
}

#filter:hover, #clear:hover, #getAll:hover {
  animation: unset;
  color: #F7F4ED;
}

input[type=text], select, .limit:not(label) {
  color: #ccc;
  background-color: #282c2f;
  width: 48%;
  padding: 8px 15px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #282c2f;
  border-radius: 20px;
  box-sizing: border-box;
  font-family: Consolas, serif;
}

input#api {
  width: 38.8%;
}

button:focus, input:focus, select:focus {
  outline:0;
}

button#go {
  color: #ccc;
  background-color: #282c2f;
  width: 7.75%;
  min-width: 47px;
  padding: 8px 15px;
  margin: 3px 0;
  border: 1px solid #282c2f;
  border-radius: 20px;
  box-sizing: border-box;
  font-family: Consolas, serif;
}

input[type=text] {
  margin-left: 10px;
}

.limit:not(label) {
  width: 20%;
  margin-right: 15px;
}

label {
  display: inline-block;
  margin: 0;
  width: 50%;
}

p:nth-child(2) {
  font-size: 1em;
  display: block;
  text-align: center;
  font-style: italic;
}

label.limit {
  display: unset;
  font-size: 0.85em;
  padding: 10px 0;
  width: unset;
}

#jsonDump {
  font-size: .9em;
  font-style: italic;
  background-color: #282c2f;
  border: unset;
  padding: 8px 20px;
  border-radius: 20px;
  margin: 20px 7px 25px 0;
}

@media screen and (max-width: 635px) {
  body *:not(script) {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: left;
  }

  p:nth-child(9) * {
    justify-content: center;
  }

  label, p, input, select {
    font-size: 90%;
  }

  label {
    padding: 8px 0;
  }

  p:nth-child(2) {
    font-size: 85%;
  }

  input[type=text] {
    margin-left: 0;
  }

  #jsonDump {
    font-size: 70%;
  }
}
